In [27]:
import pandas as pd

In [28]:
import json
json_data = open('result.json')

In [29]:
df = pd.DataFrame.from_dict(json_data)

In [30]:
df

                                                   0
0  {"traceEvents": [{"ph": "M", "pid": 10097, "ti...

In [37]:
df = pd.DataFrame(df[0][0])

ValueError: DataFrame constructor not properly called!

In [26]:
df1

Empty DataFrame
Columns: []
Index: [0]