URL
https://stackoverflow.com/questions/77479119/calculating-groupby-sum-of-values-on-column-based-on-string-in-pandas/77479422#77479422

In [8]:
import pandas as pd

data = {
    "SYMBOL": ["AAAA", "AAAA", "AAAA", "AAAA", "AAAA", "AAAA", "AAAA"],
    "EXPIRYDT": [
        "26-Oct-23",
        "26-Oct-23",
        "26-Oct-23",
        "26-Oct-23",
        "26-Oct-23",
        "26-Oct-23",
        "26-Oct-23",
    ],
    "STRIKE": [480, 500, 525, 425, 450, 480, 500],
    "TYPE": ["CE", "CE", "CE", "PE", "PE", "PE", "PE"],
    "CONTRACTS": [1, 31, 1, 0, 12, 2, 6],
    "OPENINT": [4000, 25000, 1000, 1000, 64000, 2000, 5000],
    "TIMESTAMP": [
        "4-Sep-23",
        "4-Sep-23",
        "4-Sep-23",
        "4-Sep-23",
        "4-Sep-23",
        "4-Sep-23",
        "4-Sep-23",
    ],
}

df = pd.DataFrame(data)
result = df.groupby(["EXPIRYDT", "TYPE"])
agg_dict = {"OPENINT": "sum", "CONTRACTS": "sum"}

# calculate the sum by 'EXPIRYDT', 'TYPE'
result = pd.DataFrame(result.agg(agg_dict).stack()).reset_index()
print(result)
# combined type and sum variable
result["TYPE"] = result["TYPE"] + "_" + result["level_2"]
result = result.drop("level_2", axis=1)
# row to column
result = result.set_index(
    [
        "EXPIRYDT",
        "TYPE",
    ]
).unstack(
    "TYPE"
)[0]
join_key = "EXPIRYDT"
df = pd.merge(df, result, on=join_key)

    EXPIRYDT TYPE    level_2      0
0  26-Oct-23   CE    OPENINT  30000
1  26-Oct-23   CE  CONTRACTS     33
2  26-Oct-23   PE    OPENINT  72000
3  26-Oct-23   PE  CONTRACTS     20

In [9]:
df

,SYMBOL,EXPIRYDT,STRIKE,TYPE,CONTRACTS,OPENINT,TIMESTAMP,CE_CONTRACTS,CE_OPENINT,PE_CONTRACTS,PE_OPENINT
0,AAAA,26-Oct-23,480,CE,1,4000,4-Sep-23,33,30000,20,72000
1,AAAA,26-Oct-23,500,CE,31,25000,4-Sep-23,33,30000,20,72000
2,AAAA,26-Oct-23,525,CE,1,1000,4-Sep-23,33,30000,20,72000
3,AAAA,26-Oct-23,425,PE,0,1000,4-Sep-23,33,30000,20,72000
4,AAAA,26-Oct-23,450,PE,12,64000,4-Sep-23,33,30000,20,72000
5,AAAA,26-Oct-23,480,PE,2,2000,4-Sep-23,33,30000,20,72000
6,AAAA,26-Oct-23,500,PE,6,5000,4-Sep-23,33,30000,20,72000